body
{
    font-family: 'Montserrat',
    sans-serif;
    background-color: #333;
}
.navbar {
    height: 56px;
    background-color: #444;
    padding: 0 40px;
}
.navbar li {
    float: left;
    margin-top: 19px;
}
.navbar li:nth-child(1)
{
    margin-top: 4px;
}
.navbar li:nth-child(2)
{
    margin: 19px 40px;
}
.navbar li:nth-child(3)
{
    margin: 19px 80px;
}
.navbar li:nth-child(5){

    margin: 19px 15px;
}
.navbar li:last-child{
    float: right;
}
.navbar a{
    color: rgb(195, 195, 195);
    text-decoration: none;
}
.navbar li:nth-child(2) a{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    border-radius: 50px;
    color: red;
    font-weight: bold;
    box-shadow: 0 0 5px 2px #111;
    /* margin-right: 5px ; */
}
.navbar a:hover{
    color: white;
}

@keyframes flash{
    from {opacity: 0;}
    to {opacity: 1;}
}

.navbar .fa-mobile-alt {
    animation: flash 1s 3;
    margin-right:5px;
}